.b-nav
  %a{:href => "/"} 
  %a.lpad{:href => new_resource_path} Додати точку
%ul#regions.filetree{:style => "margin-left:48px;"}
  - Region.all.each do |region|
    %li
      %span.folder
        %b= region.name
      %ul
        = render :partial => 'item', :collection => region.points.joins(:boards)
        - region.cities.each do |city|
          %li
            %span.folder
              %b= city.name
            - if city.points.any?
              %ul
                = render :partial => 'item', :collection => city.points.joins(:boards)
  %li
    %span.folder
      %b 
    %ul
      = render :partial => 'item', :collection => Point.untied
#map.b-right Неприв’язані
:javascript
  var points = {
    #{ReferencePoint.all.select{|p| !p.coords.blank? }.
      collect{|p| reference_point_json p }.
      join(", ")}
    ,
    #{collection.select{|p| !p.coords.blank? }.
      collect{|p|  point_json p }.
      join(", ")}
    };
- content_for :javascripts do
  :javascript
    $(document).ready(function(){
      make_adminmap('#{last_point}');
      put_marks();
      $('ul li span[alt^=p]').click(function(){
        var sc=$(this).attr('alt').split(',');
        goto_board(points[$(this).attr('alt')]) 
      }).mouseover(function(){
        $(this).addClass('bhl')
      }).mouseout(function(){
        $(this).removeClass('bhl')
      });
      $('#regions').treeview({collapsed:true});
    });
